/* ============= */
/* GLOBAL STYLES */
/* ============= */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  width: minmax(98%, 1200px);
  box-sizing: border-box;
  padding: 5%;
  position: relative;
}

/* ==== */
/* MENU */
/* ==== */

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 2px 3px;
  position: fixed;
  bottom: 30px;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #ff7b00;
  text-align: center;
  color: #fff;
  font-family: 'Bangers', sans-serif;
  text-shadow: 3px 3px 4px #333;
  font-size: 1.3rem;
  box-shadow: 2px 2px 4px #333;
  cursor: pointer;
}

.menu-button-exit {
  background-color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background: url(/img/menu-bg-1.jpg) center center/cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
}

.menu-show {
  transform: translateX(0vw);
}

nav div {
  font-family: 'Bangers', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #333;
  font-size: 3rem;
  padding-bottom: 1rem;
}



/* ===== */
/* PAGES */
/* ===== */

.logo, .page-title {
  font-family: 'Bangers', sans-serif;
  color: #ff7b00;
  text-shadow: 2px 2px 0 #fff;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 2rem;
}

/* ========= */
/* HOME PAGE */
/* ========= */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;  
}

.home-page-background {
  background: url(img/pop-art-bg-1.jpg) no-repeat center center/cover;
}

.home-page {
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.home-page p {
  font-family: 'Bangers', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  text-shadow: 2px 2px 0 #333;
  font-size: 3rem;
}

.main-title {
  font-family: 'Bangers', sans-serif;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  text-shadow: 2px 2px 0 #333;
  letter-spacing: 0.1rem;
  margin: auto;
  padding-top: 10vh;
}

/* ========== */
/* ABOUT PAGE */
/* ========== */

.about-page p {
  color: #fff;
  font-family: 'Grandstander', sans-serif;
  text-shadow: 1px 1px 4px #333;
  text-transform: uppercase;
  line-height: 2rem;
}

.about-page-background {
  background-color: #4e8f8c;
}

.about-page-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

p .intro-text, .outro-text {
  font-family: 'Bangers', sans-serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #333;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 60px auto;
  max-width: 1200px;
}

.about-page .page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about-page h1 {

}

.text-panel {
  text-align: left;
}

.sub-title{
  font-family: 'Bangers', sans-serif;
  color: #ff7b00;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  text-shadow: 2px 2px 0 #fff;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  padding-bottom: 0;
}

.toolbox {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.tools-familiar, .tools-dabble {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tools-familiar div, .tools-dabble div {
  display: flex;
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.tool {
  padding: 5px;
}

.tool img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;

}

/* ============= */
/* Projects Page */
/* ============= */

.projects-page-background {
  background-color: #4e8f8c;
}


.projects-page .page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

/* .projects-grid {
  margin-top: 20px;
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(100px, auto));
  gap: 10px;
  grid-template-areas: 
  "project1 project2 project2 project2"
  "project1 project3 project3 project4"
  "project5 project5 project6 project6"
  "project5 project5 project6 project6"
  ;
} */

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-grid > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 5px #333;
  margin: 10px;
}

.projects-grid img {
  max-width: 100%;
}

.projects-grid a {
  color: #333;
  font-size: 1.5rem;
  font-family: 'Bangers', sans-serif;
}

.project-description {
  margin-top: 1.5rem;
}

.description {
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-size: 1rem;
}

.project-1 {
  grid-area: project1;
}
.project-2 {
  grid-area: project2;
}
.project-3 {
  grid-area: project3;
}
.project-4 {
  grid-area: project4;
}
.project-5 {
  grid-area: project5;
}
.project-6 {
  grid-area: project6;
}

/* ============ */
/* CONTACT PAGE */
/* ============ */

.contact-page p {
  color: #fff;
  font-family: 'Bangers', sans-serif;
  /* text-shadow: 2px 2px 0px #333; */
  text-transform: uppercase;
}

.contact-page-background {
  background: url(/img/contact-bg-1.jpg) center center/cover;
}

.contact-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.contact-page .page-title {
  margin-top: 1rem;
}

.contact-page p {
  font-size: 1.2rem;
  font-family: 'Bangers', sans-serif;
  text-shadow: 2px 2px 4px #333;
  letter-spacing: 0.1rem;
}

.contact-page p:nth-child(2) {
  padding-bottom: 20px;
}

.email {
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-icons div {
  padding: 10px;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media only screen and (min-width: 768px) {
  
  .logo, .page-title {
    font-size: 3rem;
  }

  .main-title {
    font-size: 4rem;
  }

  nav div {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
  
  p .intro-text, .outro-text {
    font-size: 2rem;
  }

  .about-page h2 {
    font-size: 2.5rem;
  }

  .about-page-layout {
    grid-template-columns: 2fr 1fr;
  }

  .sub-title {
    font-size: 2.5rem;
  }

  .projects-grid {
    grid-template-rows: repeat(4, minmax(200px, auto));
  }

  .contact-page p {
    font-size: 3rem;
  }

  .contact-icons {
    font-size: 4rem;
  }
}